{
    "extends": ["standard-with-typescript", "plugin:prettier/recommended"],
    "plugins": ["prettier"],
    "rules": {
        "import/order": [
            "error",
            {
                "alphabetize": { "order": "asc" },
                "newlines-between": "always"
            }
        ],

        "no-void": "off"
    },
    "overrides": [
        {
            "files": ["*.ts", "*.tsx"],
            "parserOptions": {
                "project": "./tsconfig.json"
            },
            "rules": {
                "@typescript-eslint/strict-boolean-expressions": "off",
                "@typescript-eslint/prefer-nullish-coalescing": "off",
                "@typescript-eslint/no-non-null-assertion": "warn"
            }
        }
    ]
}
